
# Node environment (development, production, test)
NODE_ENV=development

# Server port
PORT=3000

# Message throttling limit (maximum messages allowed)
MESSAGE_LIMIT=100

#Database configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=message_db
DB_SYNCHRONIZE=true
DB_LOGGING=false
